<div class="row">
    <section class="widget">
        <div class="jumbotron">
            <legend class="section"> <h2> Welcome to Allcraft </h2> </legend>
            <p><i class="fa fa-user"></i>&nbsp; <%=username%> </p>
            <p>
                <a class="btn btn-danger btn-lg" href="#/orders">
                    view orders &nbsp;
                    <i class="fa fa-calendar-o"></i>
                </a>
            </p>
        </div>
    </section>

    <section class="widget">
        <div class="list-group">
            <a href="#/messages" class="list-group-item">
                <i class="fa fa-chevron-right pull-right"></i>
                <span class="badge badge-success" id="unread-messages">0</span>
                <i class="fa fa-envelope-o"></i>&nbsp;
                My Messages
            </a>
            <a href="#/notifications" class="list-group-item">
                <i class="fa fa-chevron-right pull-right"></i>
                <!-- <span class="badge badge-warning">0</span> -->
                <i class="fa fa-group"></i>&nbsp;
                Notifications
            </a>
        </div>
    </section>
</div>
