@import url(/js/vendor/light-blue-white/css/application.css);

body {
    background-image: none !important;
    background-color: #8da8b9;
}

.fa-print {
    color: #ffffff;
}

#orders {
    margin-top: 50px;
}

#order-table {
    margin-top: 30px !important;
    width: auto;
    background-color: white;
    padding: 20px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: #58BC6D;
}
#view-orders-content table thead th {
    font-weight: bold;
}

.form-control {
    display: inline !important;
}

.input-col-4 {
    width: 400px;
}
.input-col-1 {
    width: 50px;
}
.input-col-2 {
    width: 100px;
}
.input-col-3 {
    width: 200px;
}

.action-group {
    text-align: center;
}
.group {
    padding: 20px;
}

.inline-group {
    margin-right: 20px;
}

.control-label {
    width: 95px !important;
}

.indicator {
    display: none;
}

/* css for the public */ 
.my-input-field {
    min-height: 33px !important;
}

.my-hyperlink {
    color: #ffffff ;
    text-decoration: none;
}

.my-hyperlink:hover {
    color: #000000 ;
    text-decoration: none;
}

.section small {
    font-size: 12px !important;
    color: #ffffff !important;
    font-weight: normal !important;
}

.line-through-text {
    text-decoration: line-through;
}

.page-title {
    margin-top: 0px !important;
}

.section {
    padding-top: 0px !important;
}

.search-form {
    padding: 0px 5px 0px 0px;
    margin-top: 0px;
}

/* css for the edit orders */
.control-group {
    margin-bottom: 18px;
}

.my-pdf {
    margin-top: -20px;
}

.submission-form {
    max-width: 390px;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* css for the copy orders */
.new-icon {
    margin: 5px;
}

