<div class="col-md-12">
    <section class="widget">
        <div class="jumbotron">
            <legend class="section"> <h2> Welcome to Allcraft </h2> </legend>
            <p> <i class="fa fa-user"></i>&nbsp;Joes Blog </p>
            <p>
                <a class="btn btn-danger btn-lg" href="#/orders">
                    view orders &nbsp;
                    <i class="fa fa-calendar-o"></i>
                </a>
            </p>
                        <button id="myLogout"> Logout </button>
        </div>
    </section>

    <section class="widget">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <i class="fa fa-chevron-right pull-right"></i>
                <span class="badge badge-warning">0</span>
                <i class="fa fa-envelope-o"></i>&nbsp;
                Messages
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-chevron-right pull-right"></i>
                <span class="badge badge-success">0</span>
                <i class="fa fa-bell"></i>&nbsp;
                Notifications
            </a>
        </div>
    </section>
</div>
