<section class="widget">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active"><i class="fa fa-group"> Notifications</i></li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12 ">
        <section class="widget">
            <fieldset>
                <legend id="folder-title" class="folder-title">Notification Inbox</legend>
            </fieldset>
            <div class="body">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr class="table-header">
                        <th>Id</th>
                        <th>Creator</th>
                        <th>Created at</th>
                        <th>Description</th>
                        <th>Number of Orders</th>
                        <th>Assigned staff</th>
                    </tr>
                    </thead>
                    <tbody id="notifications-table-body">
                    </tbody>
                </table>
                <!-- shows pagination --> 
                <div class="clearfix">
                    <div class="pull-right">
                        <ul class="pagination no-margin" id='notifications-paginations'>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
