<div id="new-orders-content">
    <div class="row">
        <div class="col-md-12">
            <legend class="section"> <h2 class="page-title"> New Orders </h2> </legend>
        </div>
    </div>

    <div class="row col-md-12">
        <input type="text" id="number_of_order" placeholder="Number of order" class="my-input-field" />
        <button id="generate_orders" type="button" class="btn btn-lg btn-primary">
            <i class="fa fa-plus"></i> New
        </button>
        <button id="clear_orders" type="button" class="btn btn-lg btn-warning">
            <i class="fa fa-trash-o"></i> Clear
        </button>

        <!-- order number validation message -->
        <ul class="parsley-error-list" style="display: block;">
            <li class="required" style="display: list-item;" id="order-number-validation"></li>
        </ul>
    </div>

    <div class="alert alert-success col-md-8 margin-top hide" id="new-order-alert">
        <strong><i class="fa fa-check"></i> Well done!</strong> You have generate new orders successfully.
        Click <a href="#/orders" class="new-order-alert">here</a> to view orders
    </div>

    <div class="row col-md-12" id="orders">
    </div>
</div>
