<!-- copy order title -->
<div id="edit-orders-content">
    <div class="row col-md-12">
        <legend class="section">
        <h2 class="page-title"> 
            <a href="#/orders" class="my-hyperlink">Copy Orders </a> 
            <small> 
                <i class="fa fa-arrow-right"></i>
                <%=order.order_number%> (origin)
            </small>
        </h2>
        </legend>
    </div>

    <div class="row col-md-12">
        <form>
            <section class="widget">
                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="order_number"> Order No. </label>
                        <input type="text" id="order_number" name="order_number" value="<%=order.order_number%>"
                        disabled="disabled" class="line-through-text"/>
                        &nbsp; <span class="badge badge-danger">new</span>
                    </span>

                </div>

                <div class="group">
                    <span>
                        <label class="control-label" for="status"> Status </label>
                        <select name="status" class="form-control input-col-2">
                            <% _.each(statuses, function(status) { %>
                                <% if (status.get('status') == order.status) { %>
                                <option selected="selected"><%=status.get('status')%></option>
                                <% } else { %>
                                <option><%=status.get('status')%></option>
                                <% } %>
                            <% }); %>
                        </select>
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="customer"> Customer </label>
                        <input type="text" id="customer" name="customer" value="<%=order.customer%>"
                        class="input-col-4" />
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="created_at"> Date Created </label>
                        <input type="text" id="created_at" name="created_at" disabled="disabled"
                        value="<%=order.created_at%>" class="line-through-text"/>
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="updated_at"> Date Updated </label>
                        <input type="text" id="updated_at" name="updated_at" disabled="disabled"
                        value="<%=order.updated_at%>" class="line-through-text"/>
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="job"> Job </label> 
                        <input type="text" id="job" name="job" value="<%=order.job%>"/>
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="job_title"> Job Title </label>
                        <input type="text" id="job_title" name="job_title" value="<%=order.job_title%>" />
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="job_note"> Job Note </label>
                        <input type="text" id="job_note" name="job_note" value="<%=order.job_note%>" class="input-col-4" />
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="size"> Size </label> 
                        <input type="text" id="size" name="size" value="<%=order.size%>"/>
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="pp"> PP </label>
                        <input type="text" id="pp" name="pp" value="<%=order.pp%>" />
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="stock"> Stock </label>
                        <input type="text" id="stock" name="stock" value="<%=order.stock%>" class="input-col-4" />
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="gsm"> GSM </label> 
                        <input type="text" id="gsm" name="gsm" value="<%=order.gsm%>"/>
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="print_slide_one"> Print Slide One </label>
                        <input type="text" id="print_slide_one" name="print_slide_one" 
                        value="<%=order.print_slide_one%>" />
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="print_slide_two"> Print Slide Two</label>
                        <input type="text" id="print_slide_two" name="print_slide_two" 
                        value="<%=order.print_slide_two%>" class="input-col-4" />
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="date_in"> Date In </label> 
                        <input type="text" id="date_in" name="date_in" value="<%=order.date_in%>"/>
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="date_approved"> Date Approved </label>
                        <input type="text" id="date_approved" name="date_approved" 
                        value="<%=order.date_approved%>" />
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="date_required"> Date Required </label>
                        <input type="text" id="date_required" name="date_required" 
                        value="<%=order.date_required%>" class="input-col-4" />
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="qty"> Quantity </label> 
                        <input type="text" id="qty" name="qty" value="<%=order.qty%>"/>
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="inv_number"> Inv Number</label>
                        <input type="text" id="inv_number" name="inv_number" value="<%=order.inv_number%>" />
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="production_number"> Production No </label>
                        <input type="text" id="production_number" name="production_number" 
                        value="<%=order.production_number%>" class="input-col-4" />
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="ok"> OK </label> 
                        <input type="text" id="ok" name="ok" value="<%=order.ok%>"/>
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="despatch_by"> Despatch By </label>
                        <input type="text" id="despatch_by" name="despatch_by" 
                        value="<%=order.despatch_by%>" />
                    </span>

                    <span class="inline-group">
                        <label class="control-label" for="address"> Address </label>
                        <input type="text" id="address" name="address" 
                        value="<%=order.address%>" class="input-col-4" />
                    </span>
                </div>

                <div class="group">
                    <span class="inline-group">
                        <label class="control-label" for="booking"> Booking </label> 
                        <input type="text" id="booking" name="booking" value="<%=order.booking%>"/>
                    </span>
                </div>

                <div class="action-group group">
                    <a href="#/orders"><input type="button" class="btn btn-lg btn-warning" value="Cancel" /></a>
                    <input type="submit" class="btn btn-lg btn-success" value="Save as new" />
                </div>
            </section>
        </form>
    </div>
</div>

