
<!-- js dependecy for the file upload manager -->
<script  src="js/views/orders/upload-defered-view.js"></script>
<script  src="js/views/orders/upload-manager.js"></script>

<div id="edit-orders-content">
    <div class="row col-md-12">
        <legend class="section">
        <h2 class="page-title">
            <a href="#/orders" class="my-hyperlink">
                <i class="fa fa-chevron-left"></i>
                Edit Orders </a> 
            <small> 
                <i class="fa fa-arrow-right"></i>
                <%=order.order_number%>
            </small>
        </h2>
        </legend>
    </div>

    <div class="row col-md-12">
        <section class="widget">
            <div class="control-group">
                <a href='#/orders'><button type="button" class="close" >×</button></a>
            </div>
            <br>

            <div class="control-group col-md-12">
                <!-- preview button for the downloadable pdf file -->
                <div class="pull-right my-pdf">
                    <a href="javascript:demoFromHTML()" >
                        <button class="btn btn-lg btn-info"><i class="fa fa-file"></i> Preview jobBag PDF </button>
                    </a>
                </div>
            </div>

            <form class="form-horizontal label-left" id="editOrder">
                <div class="control-group col-md-12">
                    <label class="control-label" for="order_number"> Order No. </label> 
                    <div class="form-group">
                        <div class="col-sm-2 col-space">
                            <input type="text" id="order_number" name="order_number" 
                            value="<%=order.order_number%>" disabled="disabled" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="control-group col-md-12">
                    <label class="control-label" for="status"> Status </label>
                    <div class="form-group">
                        <div class="col-sm-2">
                        <select name="status" class="form-control input-col-2">
                            <% _.each(statuses, function(status) { %>
                                <% if (status.get('status') == order.status) { %>
                                <option selected="selected"><%=status.get('status')%></option>
                                <% } else { %>
                                <option><%=status.get('status')%></option>
                                <% } %>
                            <% }); %>
                        </select>
                        </div>
                    </div>
                </div>

                <div class="control-group col-md-12">
                    <label class="control-label" for="customer"> Customer </label>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input type="text" id="customer" name="customer" value="<%=order.customer%>"
                            class="form-control" />
                        </div>
                    </div>
                </div>

                <!-- new line -->
                <div class="row col-md-12">
                    <div class="control-group col-md-4">
                        <label class="control-label" for="created_at"> Date Created </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="created_at" name="created_at" disabled="disabled"
                             class="form-control" value="<%=order.created_at%>" />
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="updated_at"> Date Updated </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="updated_at" name="updated_at" disabled="disabled"
                             class="form-control" value="<%=order.updated_at%>" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- new line -->
                <div class="row col-md-12">
                    <div class="control-group col-md-4">
                        <label class="control-label" for="job"> Job </label> 
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="job" name="job" value="<%=order.job%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                            <label class="control-label" for="job_title"> Job Title </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="job_title" name="job_title" value="<%=order.job_title%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="job_note"> Job Note </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="job_note" name="job_note" value="<%=order.job_note%>" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- new line -->
                <div class="row col-md-12">
                    <div class="control-group col-md-4">
                        <label class="control-label" for="size"> Size </label> 
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="size" name="size" value="<%=order.size%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="pp"> PP </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="pp" name="pp" value="<%=order.pp%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="stock"> Stock </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="stock" name="stock" value="<%=order.stock%>" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- new line -->
                <div class="row col-md-12">
                    <div class="control-group col-md-4">
                        <label class="control-label" for="gsm"> GSM </label> 
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="gsm" name="gsm" value="<%=order.gsm%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="print_slide_one"> Print Slide One </label>
                        <div class="form-group">
                            <div class="col-sm-7"> 
                            <input type="text" id="print_slide_one" name="print_slide_one" class="form-control"
                            value="<%=order.print_slide_one%>"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="print_slide_two"> Print Slide Two</label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="print_slide_two" name="print_slide_two" 
                            value="<%=order.print_slide_two%>" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- new line -->
                <div class="row col-md-12">
                    <div class="control-group col-md-4">
                        <label class="control-label" for="date_in"> Date In </label> 
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="date_in" name="date_in" value="<%=order.date_in%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="date_approved"> Date Approved </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="date_approved" name="date_approved"  class="form-control"
                            value="<%=order.date_approved%>" />
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="date_required"> Date Required </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="date_required" name="date_required" 
                            value="<%=order.date_required%>" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- new line -->
                <div class="row col-md-12">
                    <div class="control-group col-md-4">
                        <label class="control-label" for="qty"> Quantity </label> 
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="qty" name="qty" value="<%=order.qty%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="inv_number"> Inv Number</label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="inv_number" name="inv_number" value="<%=order.inv_number%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="production_number"> Production No. </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="production_number" name="production_number" 
                            value="<%=order.production_number%>" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- new line -->
                <div class="row col-md-12">
                    <div class="control-group col-md-4">
                        <label class="control-label" for="ok"> OK </label> 
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="ok" name="ok" value="<%=order.ok%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="despatch_by"> Despatch By </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="despatch_by" name="despatch_by" value="<%=order.despatch_by%>" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group col-md-4">
                        <label class="control-label" for="address"> Address </label>
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="address" name="address" value="<%=order.address%>" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- new line -->
                <div class="row col-md-12">
                    <div class="control-group col-md-4">
                        <label class="control-label" for="booking"> Booking </label> 
                        <div class="form-group">
                            <div class="col-sm-7">
                            <input type="text" id="booking" name="booking" value="<%=order.booking%>" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- submission button -->
                <div class="form-actions">
                    <div class="submission-form">
                        <a href="#/orders"><input type="button" class="btn btn-lg btn-default" value="Cancel" /></a>
                        <input type="submit" class="btn btn-lg btn-success" value="Save Changes" />
                    </div>
                </div>
            </form>
        </section>


        <!-- manages and displays upload files -->
        <section class="widget">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <h2>Upload Manager</h2>
                    <p>Note: upload file with same file name and file type will overwrite the existing one.</p>
                    <div id="manager-area">
                        <script type="text/javascript">
                        $(function(){
                            //add order_number to the post data
                            var order_number = $('#order_number').val();
                            Backbone.TemplateManager.baseUrl = 'templates/{name}';

	                         // Create the upload manager
	                         window.uploadManager = new Backbone.UploadManager({
	                             'uploadUrl': 'http://api.printee.dev/upload',
	                             'templates': {
	                                 'main': 'orders/upload-manager.main',
	                                 'file': 'orders/upload-manager.file'
	                             },
                                 'order_number': order_number
	                         });
	                         // Render it
	                         uploadManager.renderTo($('div#manager-area'));
                        });
                        </script>
                        <h3 class="popover-title">Upload files</h3>
                        <div class="popover-content" id="file-list">
                            <div class="no-data" id="added-files"><em>Add files.</em></div>
                        </div>
                        <footer>
                            <button class="btn btn-warning pull-right hidden" id="cancel-uploads-button">Cancel uploads</button>
                            <span class="btn btn-success fileinput-button" id="fileinput-button">
                                <span>Add files ...</span>
                                <input id="fileupload" type="file" name="files[]" multiple="multiple" class="fileUpload">
                            </span>
                            <button class="btn btn-primary hidden" id="start-uploads-button">Start uploads</button>
                        </footer>
                    </div>
                 </div>

                 <!-- shows uploaded files -->
                 <div class="col-md-6">
                     <h2>Uploaded files</h2>
                     <div id="uploaded-file-list">
                         <table class="table table-hover">
                             <thead>
                                 <tr>
                                     <th>Name</th>
                                     <th>Size</th>
                                     <th>Uploaded at</th>
                                     <!-- <th style="width: 70px"></th> -->
                                 </tr>
                             </thead>
                             <tbody></tbody>
                         </table>
                         <div class="popover-content" id="no-files"><em>No files.</em></div>
                     </div>
                 </div>
            </div>
        </section> <!-- end of  manages and displays upload files -->
    </div>
</div>


<!-- modal dialog for edit orders -->
<div id="edit-submit-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel2">Message</h4>
        </div>
        <div class="modal-body">
            <h4>
                <i class="fa fa-check-square-o"></i>
                 Thanks, order '<%=order.order_number%>' has been updated successfully. 
            </h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>
            <button id="redirect-to-orders" type="button" class="btn btn-primary"> Return to Orders</button>
        </div>
    </div><!-- /.modal-content -->
</div>
</div>

