<div id="new-orders-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">New Orders </h2>
        </div>
    </div>

    <div class="row col-md-12">
        <input type="text" id="number_of_order" placeholder="Number of order" />
        <button id="generate_orders" type="button" class="btn btn-lg btn-primary">
            <i class="fa fa-plus"></i> New
        </button>
        <button id="generate_orders" type="button" class="btn btn-lg btn-warning">
            <i class="fa fa-trash-o"></i> Clear
        </button>
    </div>

    <div class="row col-md-12" id="orders">
    </div>
</div>
