<input type="text" name="" id="user" placeholder="Assign Staff" />
<input type="submit" class="btn btn-lg btn-success" value="Save Orders" />
<!-- <button id="generate_orders" type="submit" class="btn btn-lg btn-success"> -->
<!--     <i class="fa fa-check"></i> Save -->
<!-- </button> -->

<section id="order-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Status</th>
                <th>Job</th>
                <th>Customer</th>
                <th>Job Title</th>
                <th>Quantity</th>
                <th>Size</th>
                <th>PP</th>
                <th>Stock</th>
                <th>GSM</th>
                <th>Print Slide One</th>
                <th>Print Slide Two</th>
                <th>Date In</th>
                <th>Date Approved</th>
                <th>Date Required</th>
                <th>Job Note</th>
                <th>Inv Number</th>
                <th>Production Number</th>
                <th>OK</th>
                <th>Dispatch By</th>
                <th>Address</th>
                <th>Booking</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>

