<div id="view-orders-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title"> All Orders </h2>
        </div>
    </div>

    <div class="row">
        <section class="widget" id="today-orders">
            <header>
                <h4> <i class="fa fa-calendar-o"></i> Today </h4>
            </header>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 125px">Order Number</th>
                        <th style="width: 200px"> Created At </th>
                        <th style="width: 200px"> Customer </th>
                        <th>Job</th>
                        <th>Job Title</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- <button class="btn btn-info" id="today-orders-load-more"> Load More </button> -->
        </section>

        <section class="widget" id="yesterday-orders">
            <header>
                <h4> <i class="fa fa-calendar-o"></i> Yesterday </h4>
            </header>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 125px">Order Number</th>
                        <th style="width: 200px;"> Created At </th>
                        <th style="width: 200px"> Customer </th>
                        <th>Job</th>
                        <th>Job Title</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- <button class="btn btn-info" id="yesterday-orders-load-more"> Load More </button> -->
        </section>
        <section class="widget" id="older-orders">
            <header>
                <h4> <i class="fa fa-calendar-o"></i> Older </h4>
            </header>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 125px">Order Number</th>
                        <th style="width: 200px"> Created At </th>
                        <th> Customer </th>
                        <th>Job</th>
                        <th>Job Title</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button class="btn btn-info" id="older-orders-load-more"> Load More </button>
        </section>
    </div>
</div>

