<td><input type="text" name="order<%=orderId%>[order_number]"/></td>
<td>
    <select name="order<%=orderId%>[status]" class="form-control">
        <% _.each(statuses, function(status) { %>
        <option><%=status.get('status')%></option>
        <% }); %>
    </select>
</td>
<td><input type="text" name="order<%=orderId%>[job]"/></td>
<td><input type="text" name="order<%=orderId%>[customer]"/></td>
<td><input type="text" name="order<%=orderId%>[job_title]"/></td>
<td><input type="text" name="order<%=orderId%>[qty]"/></td>
<td><input type="text" name="order<%=orderId%>[size]"/></td>
<td><input type="text" name="order<%=orderId%>[pp]"/></td>
<td><input type="text" name="order<%=orderId%>[stock]"/></td>
<td><input type="text" name="order<%=orderId%>[gsm]"/></td>
<td><input type="text" name="order<%=orderId%>[print_slide_one]"/></td>
<td><input type="text" name="order<%=orderId%>[print_slide_two]"/></td>
<td><input type="text" name="order<%=orderId%>[date_in]"/></td>
<td><input type="text" name="order<%=orderId%>[date_approved]"/></td>
<td><input type="text" name="order<%=orderId%>[date_required]"/></td>
<td><input type="text" name="order<%=orderId%>[job_note]"/></td>
<td><input type="text" name="order<%=orderId%>[inv_number]"/></td>
<td><input type="text" name="order<%=orderId%>[production_number]"/></td>
<td><input type="text" name="order<%=orderId%>[ok]"/></td>
<td><input type="text" name="order<%=orderId%>[despatch_by]"/></td>
<td><input type="text" name="order<%=orderId%>[address]"/></td>
<td><input type="text" name="order<%=orderId%>[booking]"/></td>
